@import url(animation.css);

/* Font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --fontFamily1: 'Montserrat', sans-serif;
    --paletteColor1: #1c272d;
    --paletteColor2: #171b1e;
    --paletteColor3: rgb(158, 126, 43);
    --paletteColor4: rgb(44, 38, 75);
    --paletteColor5: #d3d3d3;
}

/*  ======================================================
                        GLOBALES
    ====================================================== */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: var(--fontFamily1);
    overflow-y: overlay;
}
body, *, *::before, *::after {
    transition: inherit;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: .8rem;
    box-sizing: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: .5rem;
    background: #323232;
}
::-webkit-scrollbar-track {
    background: rgb(0 0 0 /.5);
}
  
.container {
    width: calc(100% - 4rem);
    max-width: 100rem;
    margin: 0 auto;
}
@media (min-width:780px) {
    .container.container-small {
        max-width: 80rem;
    }
}
p,a,span {
    font-size: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
input, textarea {
    border: solid .1rem #343434;
    padding: .5rem 1rem;
}
textarea {
    padding: 1rem;
}
input:focus, textarea:focus {
    outline: none;
}

/*  ======================================================
                        UTILIDADES
    ====================================================== */
.seccion {margin-bottom: 8rem;}
.seccion.banner {
    background-color: var(--paletteColor5);
    padding: 4rem 0;
    box-shadow: inset 0 0 3rem rgb(0 0 0 / .3);
}
.seccion .title-content {
    text-transform: uppercase;
}
.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}
.seccion .title-content h2.title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 8rem;
}
/* Seccion columns */
@media (min-width:780px) {
    .seccion.columns {
        position: relative;
    }
    .seccion.columns .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .seccion.columns .side>img {
        position: absolute;
        width: calc(45% - 8rem);
        height: 100%;
        right: 0;
        top: -5rem;
        object-fit: cover;
        box-shadow: -.6rem 1rem 2rem rgb(0 0 0 / .3);
    }
}
.seccion.columns .title-content h2.title {
    text-align: left;
    margin-bottom: 4rem;
}
/* end Seccion columns */
.my-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.d-block {display: block;}
.d-flex {display: flex;}
.d-grid {display: grid;gap: 2rem;}
@media (min-width:780px) {
    .column-2 {grid-template-columns: repeat(2, 1fr);}
    .column-3 {grid-template-columns: repeat(3, 1fr);}
    .column-4 {grid-template-columns: repeat(4, 1fr);}
}
.flex-column {flex-direction: column;}
.flex-1 {flex: 1;}
.jcc {justify-content: center;}
.jcsb {justify-content: space-between;}
.aic {align-items: center;}
.gap-2 {gap: 2rem;}
.letter-spacing { letter-spacing: 2px; }
.line-height { line-height: 2; }
.sombra {
    width: 100%;
    height: 100%;
    background-color: rgb(23 27 30 / .7);
    color: white;
    backdrop-filter: brightness(.7);
}
.golden {color: var(--paletteColor3);}
.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0 0 0 / .3);
    padding: 15px;
}
@media (min-width:780px) {
    .half-left {
        text-align-last: left;
        max-width: 50%;
    }
}
.lazy {
    opacity: 0;
}
/*  ================
        Proyectos
    ================ */
.proyectos {
    display: grid;
    gap: 4rem;
}
.proyecto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    transition: 500ms;
}
.proyecto:hover {
    box-shadow: 0 0 2rem rgb(0 0 0 / .3);
}
.proyecto .image {
    width: 100%;
    height: 25rem;
    position: relative;
    cursor: pointer;
}
.proyecto:hover .image::after {
    content: '\2b';
    font-family: 'Fontawesome';
    font-size: 2.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: solid .3rem white;
    border-radius: 50%;
    left: calc(50% - 2rem);
    top: calc(50% - 2rem);
}
.proyecto:hover .image img {
    filter: brightness(.3);
}
.proyecto .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.proyecto h4 {
    margin: 0;
}
.proyecto .texto {
    flex: 1;
}


/*  ======================================================
                        BOTONES
    ====================================================== */
.custom-btn:hover,
.custom-btn:focus,
.custom-btn:focus-within {
    color: white;
}
.custom-btn { /*** Boton cláscico ***/
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    min-width: 12rem;
    height: 4rem;
    color: white;
    background-color: var(--paletteColor1);
    padding: 5px 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}
.custom-btn.slide {             /**** Boton deslizante ****/
    background-color: var(--paletteColor2);
    justify-content: start;
    gap: 2rem;
    max-width: max-content;
    overflow: hidden;
    position: relative;
    padding-right: 2rem;
}
.custom-btn.slide:hover::before {
    left: 0;
}
.custom-btn.slide:hover::after {
    left: 1rem;
}
.custom-btn.slide::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--paletteColor1);
    position: absolute;
    left: -80%;
    top: 0;
    z-index: 0;
    transition: 700ms;
}
.custom-btn.slide::after {
    content: '\f061';
    font-family: 'FontAwesome';
    z-index: 1;
    position: relative;
    left: 0;
    transition: 700ms;
}
.custom-btn.slide span {
    position: relative;
    z-index: 1;
}
.custom-btn.slide.gray {            /**** Boton deslizante gris ****/
    background-color: transparent;
    color: #323232;
}
.custom-btn.slide.gray::before {
    background-color: lightgray;
}
.btn-seccion {                      /**** Boton seccion ****/
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--paletteColor4);
    color: white;
    width: 80%;
    max-width: 60rem;
    height: 7rem;
    padding: 1rem 2rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}
.btn-seccion:hover {color: white;}
.btn-seccion span::after {
    content: '\f061';
    font-family: 'FontAwesome';
    z-index: 1;
    position: relative;
    margin-left: 2rem;
    left: 0;
    transition: 700ms;
}
.btn-seccion:hover span::after {
    left: 1rem;
}
.btn-seccion.left {                      /**** Boton seccion  left ****/
    right: unset;
    bottom: -5rem;
    left: 0;
    justify-content: end;
    padding-right: 7%;
}

/*  ======================================================
                        HOME
    ====================================================== */
#header {
    color: white;
    margin-bottom: 8rem;
}
/*  ================
        topbar
    ================ */
#header .topbar {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    width: 100%;
    min-height: 6rem;
}
#header .topbar .topbar-content {
    display: flex;
    justify-content: space-between;
}
#header .topbar .brand {
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    transform: scaleX(.8);
}
#header .topbar .brand p {margin: 0;}
.topbar .main-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    font-size: 1.4rem;
}
.topbar .main-menu .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.topbar .search-container {
    position: relative;
    border: solid .2rem white;
    border-radius: 5rem;
    padding: 0.5rem;
}
.topbar .search-container button {
    background: none;
    border: none;
    color: white;
}
.topbar .search-container .field {
    background: none;
    border: none;
    color: white;
}
.topbar .search-container .field:focus,
.topbar .search-container .field:focus-visible,
.topbar .search-container .field:focus-within {
    border: none;
    outline: none;
}

/*  ================
        Portada
    ================ */
#portada {
    background-image: url(../images/container-house.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 30rem;
    position: relative;
}
.home #portada {
    height: calc(100vh - 11rem);
}
#portada .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 3rem);
    max-width: 80rem;
    height: 100%;
    margin: 0 auto;
    padding: 8rem 0;
}
.home #portada .content {
    align-items: start;
}
@media (min-width:780px) {
    .home #portada .content {
        justify-content: space-between;
    }
    #portada .title-content {
        text-align: left;
    }
}
#portada .title-content h5 {
    margin: 0;
    font-size: 2rem;
}
#portada .title-content h1 {
    text-transform: uppercase;
    margin: 0;
}
.home #portada .title-content h1 {
    font-size: 7rem !important;
}
#portada .introduccion {
    font-size: 1.4rem;
    max-width: 60%;
}

/*  ================
        Footer
    ================ */
#footer {
    display: flex;
    align-items: center;
    color: white;
    height: 5rem;
    background-color: var(--paletteColor1);
}
#footer .copy {
    font-size: 14px;
    font-weight: lighter;
}

/*  ================
        Nosotros
    ================ */
body.home #us {margin-bottom: 14rem;}
#us {
    background-color: lightgray;
    position: relative;
    margin-top: 8rem;
    padding: 8rem 0;
}
#us img {
    width: 100%;
}
@media (min-width:780px) {
    #us img {
        position: absolute;
        right: 0;
        top: -60px;
        width: 40%;
        max-width: 600px;
        min-width: 300px;
        height: 100%;
        object-fit: cover;
        object-position: left top;
    }
}

/*  ========================
        Últimos proyectos
    ======================== */
#nuestrosProyectos .container-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
@media (min-width:780px) {
    #nuestrosProyectos .container-title {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    #nuestrosProyectos .container-title h2 {
        margin: 0;
    }
    
}
#nuestrosProyectos .content {
    display: grid;
    gap: 4rem;
}
@media (min-width:780px) {
    #nuestrosProyectos .content {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}
#nuestrosProyectos .proyecto-container {
    padding: 1rem;
    transition: 300ms;
}
#nuestrosProyectos .proyecto-container:hover {
    box-shadow: 0 0 2rem rgb(0 0 0 / .3);
    transform: scale(1.05);
}
#nuestrosProyectos .content img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin-bottom: 2rem;
}
#nuestrosProyectos .content h4 {
    font-size: 2rem;
    margin: 0;
}
#nuestrosProyectos .content .ubicacion {
    text-transform: uppercase;
    color: var(--paletteColor3);
}

/*  ======================================================
                        INTERNAS
    ====================================================== */
@media (min-width:640px) {
    #team .content.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media (min-width:780px) {
    #team .content.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
#team .member {
    transition: .25s;
}
#team .member .image {
    filter: grayscale(1);
    backdrop-filter: contrast(2);
}
#team .member .image img {
    filter: saturate(2);
}
#team .member .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem 1rem;
}
#team .member .content h3,
#team .member .content h5 {
    margin: 0;
}
#team .member .content h3 {
    font-size: 1.6rem;
}
#team .member .content h5 {
    font-weight: normal;
    text-transform: uppercase;
}
#team .member .contact {
    display: flex;
    gap: 1rem;
    color: #b0b0b0;
}
#team .member .contact .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 30%;
    box-shadow: 0 0 .5rem rgb(0 0 0 /.5);
    cursor: pointer;
}
/* === Hover === */
#team .member:hover .image {
    filter: grayscale(0);
}
#team .member:hover .fa-phone       {color: seagreen;}
#team .member:hover .fa-envelope    {color: crimson;}
#team .member:hover .fa-twitter     {color: lightskyblue;}
#team .member:hover .fa-linkedin    {color: darkslateblue;}

/*  ======================================================
                        ARCHIVE
    ====================================================== */
@media (min-width:780px) {
    body.archive .content.column-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    body.archive .content.column-4 .proyecto .image {
        height: 15rem;
    }
}
/*  ======================================================
                        SINGLE
    ====================================================== */
.single #topbar {
    position: relative;
    background-color: var(--paletteColor1);
    margin-bottom: 8rem;
    box-shadow: 0 .2rem 1rem rgb(0 0 0 / .3);
}
.single #header {
    margin-bottom: 4rem;
}
.single #header .title {
    color: var(--paletteColor2);
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}
.single #main {
    margin-bottom: 8rem;
}
.single .descripcion {
    margin-bottom: 4rem;
}
@media (min-width:780px) {
    .single .descripcion {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}
.single #destacada {
    display: block;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single .descripcion .card {
    box-shadow: none;
    border: solid .4rem goldenrod;
    background-color: rgb(255 215 0 / .3);
    color: #454545;
}
.single .descripcion .list {
    font-size: 1.4rem;
    line-height: 2;
    padding-left: 2rem;
}
.list li {
    list-style: disc;
}

/*  ======================================================
                        CONTACT
    ====================================================== */
body.contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body.contact .contact-info .social {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}
.social .icon {
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: #777;
    border-radius: 50%;
    color: white;
    transition: .3s;
}
.social .icon:hover {
    box-shadow: -.2rem .2rem .8rem rgb(0 0 0 / .8);
    transform: translate(.2rem, -.2rem);
}
.social .icon:has(.fa-facebook):hover {
    background-color: #3b5998;
}
.social .icon:has(.fa-instagram):hover {
    background-color: #DD2A7B;
}
.social .icon:has(.fa-twitter):hover {
    background-color: #00ACEE;
}
.social .icon:has(.fa-linkedin):hover {
    background-color: #0e76a8;
}
.social .icon:has(.fa-whatsapp):hover {
    background-color: #25d366;
}
body.contact .contact-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
body.contact .contact-info .direccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.contact #contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}
body.contact #contactForm label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #777777;
}
body.contact #contactForm input,
body.contact #contactForm textarea {
    display: block;
    border-radius: .7rem;
    border: solid .1rem #c2c2c2;
}
body.contact #contactForm input:focus,
body.contact #contactForm textarea:focus {
    box-shadow: 0 0 .6rem rgb(0 0 255 / .2);
}
